*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Courier New', Courier, monospace;
}

.caixa-1{
    background: #9C27B0;
    height: 300px;
    width: 50%;
    /* padding: 20px; */
    /* margin: 5px 10px; */
    text-align: center;
    vertical-align: middle;
    line-height: 300px;
    color: white;
    font-weight: bold;
    /* border: yellow 5px solid; */
    display: inline-block;
    margin: 0;
}

.caixa-2{
    background: #F44336;
    height: 300px;
    width: 50%;
    /* padding: 20px; */
    /* margin: 5px 10px; */
    text-align: center;
    vertical-align: middle;
    line-height: 300px;
    color: white;
    font-weight: bold;
    /* border: yellow 5px solid; */
    display: inline-block;
    margin: 0;
}